<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/about_us.css" />
  </head>
  <body>
    <div class="container">
      <main>
        <section class="header-image">
          <img
            src="../assets/banner.png"
            alt="Header Background"
            class="header-background"
          />
          <div class="header-overlay">
            <img
              src="../assets/images/navigation_bar/logo.png"
              alt="Logo"
              class="header-logo"
            />
            <h1 class="header-title">About Us</h1>
          </div>
        </section>

        <section class="about-us-wrapper">
          <div class="about-us-paragraph">
            <h4>
              We are a team of passionate designers, makers and storytallers
              committed to creating furniture that elevates every space it
              touches. <br />
              From cozy sofas to elegant clining sets, we blend timeless
              craftsmanship with contemporary<br />
              aesthetics to bring your home to life.
            </h4>
          </div>
          <div class="">
            <img
              src="../assets/About-us-img.png"
              alt="An image of our workspace"
              id="about-us-image"
            />
          </div>
          <div class="about-us-paragraph">
            <h4>
              Our mission is simple - to make beautifully designed furniture
              accessible to everyone. We believe in sustainabillity, quality and
              comfort, <br />
              and we strive to deliver products that reflect these values at
              every step of the journey.
            </h4>
          </div>
        </section>
      </main>
      <script type="module" src="../scripts/about_us.js"></script>
    </div>
  </body>
</html>
