<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category Page</title>
    <link rel="stylesheet" href="/src/styles/category.css" type="text/css" />
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
  </head>
  <body>
    <div class="container">
      <main>
        <section class="banner">
            <!-- banner -->
          <h3 id="topic">Category</h3>
        </section>

        <section>
          <!-- thre categories -->
          <h3 id="text">Categories</h3>
          <div class="categories">
            <div class="img">
                <a href="">
              <img
                src="/src/assets/images/diningroom/dinning-room.png"
                alt="diningroom image"
                width="300px"
                height="400px"
              />
                </a>
              <button class="btn">Dining</button>
            </div>
            <a href="">
            <div class="img">
              <img
                src="/src/assets/images/livingroom/living-room.png"
                alt="livingroom image"
                width="300px"
                height="400px"
              />
            </a>
              <button class="btn">Living</button>
            </div>
            <a href="">
            <div class="img">
              <img
                src="/src/assets/images/bedroom/bedroom.png"
                alt="bedroom image"
                width="300px"
                height="400px"
              />
            </a>
              <button class="btn">Bedroom</button>
            </div>
          </div>
        </section>

        <section class="filter-wraper">
          <!-- filter and sorting -->
           
               <div class="filter-dropdown">
                <span>Filter</span>
                <div class="dropdown-content">
                    <button>Stock</button>
                    <button>Diningroom</button>
                    <button>Livingroom</button>
                    <button>Bedroom</button>
                </div>
            </div>

            
                <div class="sort-dropdown">
                 <span>Sort by:</span>
                 <div class="sort-content">
                     <button>a-z</button>
                     <button>z-a</button>
                     <button>low price first</button>
                     <button>low price first</button>
                 </div>
             </div>
           
        </section>

        <section>
            <!-- Images and products -->

        </section>

        <div class="pagination">
          <!-- pagination -->
          <a href="category.html" class="active">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="page4.html">Next</a>
        </div>
      </main>

     

      <script type="module" src="/src/scripts/category.js"></script>
    </div>
  </body>
</html>
