<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Category Page</title>
    <link rel="stylesheet" href="/src/styles/category.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <header>
        <!-- this is done by another student -->
        <p>logo</p>
        <nav>
          <ul id="navbar">
            <li><a href="">Home</a></li>
            <li><a href="">Category</a></li>
            <li><a href="">Contact</a></li>
          </ul>
        </nav>
      </header>

      <main>
        <section class="banner">
            <!-- banner -->
          <h3 id="topic">Category</h3>
        </section>

        <section>
          <!-- thre categories -->
          <h3 id="text">Categories</h3>
          <div class="categories">
            <div class="img">
                <a href="">
              <img
                src="/src/assets/images/diningroom/dinning-room.png"
                alt="diningroom image"
                width="300px"
                height="400px"
              />
                </a>
              <button class="btn">Dining</button>
            </div>
            <a href="">
            <div class="img">
              <img
                src="/src/assets/images/livingroom/living-room.png"
                alt="livingroom image"
                width="300px"
                height="400px"
              />
            </a>
              <button class="btn">Living</button>
            </div>
            <a href="">
            <div class="img">
              <img
                src="/src/assets/images/bedroom/bedroom.png"
                alt="bedroom image"
                width="300px"
                height="400px"
              />
            </a>
              <button class="btn">Bedroom</button>
            </div>
          </div>
        </section>

        <section class="filter-wraper">
          <!-- filter and sorting -->
           
               <div class="filter-dropdown">
                <span>Filter</span>
                <div class="dropdown-content">
                    <button>Stock</button>
                    <button>Diningroom</button>
                    <button>Livingroom</button>
                    <button>Bedroom</button>
                </div>
            </div>

            
                <div class="sort-dropdown">
                 <span>Sort by:</span>
                 <div class="sort-content">
                     <button>a-z</button>
                     <button>z-a</button>
                     <button>low price first</button>
                     <button>low price first</button>
                 </div>
             </div>
           
        </section>

        <section>
            <!-- Images and products -->

        </section>

        <div class="pagination">
          <!-- pagination -->
          <a href="category.html" class="active">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="page4.html">Next</a>
        </div>
      </main>

      <footer>
        <!-- this should be done by another student -->
        <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui deserunt repudiandae, delectus commodi aut recusandae expedita, eligendi ab animi fugiat maiores voluptatibus cum quam, tenetur dignissimos magni laudantium iure dicta.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem obcaecati nostrum nisi repellendus modi a voluptate temporibus! Minima hic magni soluta perferendis animi, voluptates blanditiis eaque, vero libero voluptatem nam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores corporis nemo rerum ullam repellendus iure expedita veniam illum cumque nostrum iusto, quidem fuga consectetur sunt, laboriosam, laborum nihil suscipit totam.
        Architecto dolorum natus quisquam odit voluptates officiis nesciunt veritatis explicabo, sit reprehenderit inventore sunt enim quo dolore ipsum. Pariatur, qui est in doloribus aliquid quaerat magnam modi illo facere nisi.
        Esse distinctio, aut excepturi quam eveniet, eligendi nulla nobis earum, quos id dolore sunt. Alias cum ut laudantium numquam aut in, iusto deleniti accusantium inventore, deserunt quia quo. Blanditiis, recusandae!
        Laborum quo corrupti alias voluptas facilis suscipit quidem in nulla nam quasi delectus deserunt quae, non veniam dolore error ipsum? Quo consectetur sint enim perferendis ab exercitationem dignissimos at ipsa.
        Corrupti, eum. Eaque deleniti nihil sequi debitis, deserunt eos rem ratione molestiae repudiandae officiis voluptas minima repellat veniam odit enim illum, ipsum dolores, sunt in sapiente consectetur cupiditate itaque quidem.
        Error quam cumque pariatur provident consequatur, placeat assumenda eaque vel, laborum explicabo enim, omnis exercitationem obcaecati voluptatibus blanditiis maiores quis quos illum corrupti? Odit, vitae! Repellat explicabo facere aspernatur ratione!
        Reprehenderit harum error qui maiores saepe a enim. Repellat error tenetur autem fuga consectetur omnis, aliquam explicabo, iste sunt minus placeat doloribus harum. Nam laudantium quod suscipit. Voluptatibus, quis sapiente!
        Velit aliquid et assumenda iure dignissimos similique amet provident quod, dolorem tenetur, odit cupiditate. Esse laborum eligendi perferendis voluptatum exercitationem sapiente in doloremque, incidunt totam molestiae voluptate dolorum officia hic.
        </p>
      </footer>

      <script src="/src/scripts/category.js"></script>
    </div>
  </body>
</html>
