<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Shop</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins|Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/homepage.css">
</head>

    <section class="banner">
        <div class="banner-content">
            
            <div class="banner-image">
                <img src="../assets/images/navigation_bar/banner_image.png" alt="Furniture Banner" />
            </div>
            
            <div class="banner-text-container">
                <div class="banner-text">
                    <p class="banner-subtitle">New Arrival</p>
                    <h1 class="banner-title">Discover Our New Collection</h1>
                    <p class="banner-description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                        mattis.
                    </p>
                    <button class="banner-button">Buy Now</button>
                </div>
            </div>
        </div>
    </section>

    
</body>


</html>