<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furniture Shop</title>
    <link rel="stylesheet" href="../styles/homepage.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
</head>
<body>
<section class="banner">
    <div class="banner-content">
        <div class="banner-image">
            <img src="../assets/banner_image.png" alt="Furniture Banner" />
        </div>
        <div class="banner-text-container">
            <div class="banner-text">
                <p class="banner-subtitle">New Arrival</p>
                <h1 class="banner-title">Discover Our New Collection</h1>
                <p class="banner-description">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper
                    mattis.
                </p>
                <button class="banner-button">Buy Now</button>
            </div>
        </div>
    </div>
</section>
<section class="categories">
    <h2 class="section-title">Categories</h2>
    <div class="categories-container">
        <div class="category-item">
            <a href="#" id="dining-room-btn">
                <img src="../assets/images/Dining-room.png" alt="Dining" class="category-image">
                <p class="category-name">Dining</p>
            </a>
        </div>
        <div class="category-item">
            <a href="#" id="living-room-btn">
                <img src="../assets/images/Living-room.png" alt="Living" class="category-image">
                <p class="category-name">Living</p>
            </a>
        </div>
        <div class="category-item">
            <a href="#" id="bedroom-btn">
                <img src="../assets/images/Bedroom.png" alt="Bedroom" class="category-image">
                <p class="category-name">Bedroom</p>
            </a>
        </div>
    </div>
    <!-- Add this new grid for category results -->
    <div class="category-products-grid"></div>
</section>
<section class="most-popular">
    <h2 class="section-title">Most Popular</h2>
    <div class="most-popular-grid"></div>
</section>
<script type="module" src="../scripts/homepage.js"></script>
</body>
</html>