body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-image {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.header-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000;
}

.header-title {
    font-size: 36px;
    font-weight: bold;
    color: #000;
    margin: 0;
}

.checkout-container {
    width: 600px; 
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}


.checkout-title {
    font-size: 36px;
    font-weight: 600;
    line-height: 54px;
    margin-bottom: 30px;
    color: #000;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.form-row input {
    width: 280px;
    height: 75.08px;
    padding: 10px;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkout-form label {
    font-size: 16px;
    font-weight: 500;
    color: #000;
    line-height: 24px;
}

.checkout-form input {
    height: 75.08px;
    padding: 10px;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

.full-width {
    width: 100%;
    height: 75.08px;
    padding: 10px;
    font-size: 16px;
    background: #FFFFFF; 
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s ease;
}

.checkout-form input:focus {
    border-color: #b68d40; 
}

.checkout-button {
    width: 226px;
    height: 59px;
    margin-top: 20px;
    background-color: #B88E2F;
    color: #fff;
    border: 1px solid #B88E2F;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.checkout-button:hover {
    background-color: #A67C37;
}