<footer class="footer">
	<div class="footer-container">
		<div class="footer-brand">
			<h2 class="footer-logo">Funiro.</h2>
			<p class="footer-address">
				400 University Drive Suite 200 Coral Gables,<br />
				FL 33134 USA
			</p>
		</div>
		<div class="footer-links">
			<h3 class="footer-title">Links</h3>
			<ul>
				<li><a href="../index.html">Home</a></li>
				<li><a href="./category.html">Shop</a></li>
				<li><a href="about_us.html">About Us</a></li>
				<li><a href="./contact.html">Contact</a></li>
			</ul>
		</div>
		<div class="footer-help">
			<h3 class="footer-title">Help</h3>
			<ul>
				<li><a href="#">Payment Options</a></li>
				<li><a href="#">Returns</a></li>
				<li><a href="#">Privacy Policies</a></li>
			</ul>
		</div>
		<div class="footer-newsletter">
			<h3 class="footer-title">Newsletter</h3>
			<form class="newsletter-form">
				<input
					type="email"
					placeholder="Enter Your Email Address"
					class="newsletter-input" />
				<button type="submit" class="newsletter-button">SUBSCRIBE</button>
			</form>
		</div>
	</div>
	<div class="footer-bottom">
		<p>2025 Funiro. All rights reserved</p>
	</div>
</footer>
