<header class="navbar">
	<div class="navbar-logo">
		<a href="../index.html">
			<img
				src="../assets/images/navigation_bar/logo.png"
				alt="Furniro Logo"
				class="logo" />
		</a>
		<span class="logo-text">Furniro</span>
	</div>
	<nav class="navbar-links">
		<a href="../index.html" class="nav-link">Home</a>
		<a href="./category.html" class="nav-link">Categories</a>
		<a href="./contact.html" class="nav-link">Contact</a>
	</nav>
	<div class="navbar-icons">
		<a href="./login.html">
			<img
				src="../assets/images/navigation_bar/user_icon.svg"
				alt="User"
				class="icon" />
		</a>
		<img
			src="../assets/images/navigation_bar/search_icon.svg"
			alt="Search"
			class="icon"
			id="searchBtn" />
		<div
			class="search-container"
			id="search-container"
			style="display: none; position: relative">
			<input type="text" id="search-input" placeholder="Search products..." />
		</div>
		<a href="./cart.html" class="cart-link" id="cart-icon-link">
			<img
				src="../assets/images/navigation_bar/cart_icon.svg"
				alt="Cart"
				class="icon"
				id="cart-icon-img" />
		</a>
	</div>
</header>
